.left-side{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* border: 1px solid black; */
    height: 100vh;
    background-color:darkblue;
    color: white;
    flex: 1 1 300px;
    justify-content: space-between;
}
.left-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}
.btn-search{
    padding: 5px 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;

}

.location-curr{
    background-color: red;
    border-radius: 50%;
    padding: 3px;
    color: black;
}
.location{
    background-color: transparent;
    border-radius: 50%;
    padding: 3px;
    color: white;
}
.left-middle{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.img-condition{
    width: 250px;
    height: auto;
}
.condition{
    text-align: center;
}
.current-temp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.left-meash{
    position: relative;
}
.deg-numb{
    font-size: 50px;
}
.degree{
    font-size: 140px;
    position: absolute;
    top: -40px;
    left: -80px;
}
.left-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 40px;
}
.today{
    display: flex;
    gap: 20px;
}
.today h6{
    font-size: 16px;
}
.place{
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 10px;
}