.right-side{
    flex: 4 4 800px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    position: relative;
    gap: 40px;
    background-color: rgb(86, 86, 192);
}
.change-degree{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 40px;
    margin-top: 30px;
}
.temperature{
    background-color: blue;
    color: white;
    padding: 5px 12px;
    border-radius: 50%;
    position: relative;
}
.d-deg{
    position: absolute;
    font-size: 60px;
    top: -10px;
    left: 5px;
    color: white;
}
.temp-active{
    background-color: gold;
    color: white;
    padding: 5px 12px;
    border-radius: 50%;
    position: relative;
}

.hightlight-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

}

.hight-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 2px solid gray;
    padding: 20px 5px;
    position: relative;
    background-color: rgb(30, 63, 77);
    color: white;
    height: 150px;
    z-index: 0;
}
.hight-card h4{
    font-size: 24px;
    text-align: center;
}

.mph{
    font-size: 16px;
}
.hight-tools h6{
    font-size: 24px;
}
.pers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hight-bar{
    width: 100%;
    overflow: hidden;
}
.pro-bar{
    padding: 3px;
    background-color: yellow;
    position: absolute;
    width: 90%;
    left: 6px;
    z-index: -1;
    bottom: 15px;
    border-radius: 2px;

}
.pro-pro{
    background-color: blue;
    padding: 2px;
    position: absolute;
    left: 7px;
    border-radius: 2px;
}

.symb{
    display: none;
}

.bck-image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    right: 0;
}