.search-active {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: skyblue;
  padding: 10px;
  z-index: 2;
}
.search {
    display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-1000px);
  transition: all 0.5s ease-in-out;
  height: 100vh;
}

.search-close{
    background-color: red;
    color: white;
    align-self: flex-end;
    /* padding: 5px; */
    border-radius: 50%;
    display: flex;    
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 19px;
    border: none;
    width: 30px;
    height: 30px;
}
.search-input-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}
.search-input{
    height: 30px;
    padding-left: 30px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 4px 0px 0px 4px;
}
.search-icon{
    position: absolute;
    left: 10px;
    top: 6px;
}
.btn-search-input{
    height: 30px;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 0px 4px 4px 0px;
    background-color:cornsilk;

}
.suggest{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0;
}
.isA{
    background-color: gold !important;
    width: 100%;
    padding: 3px;
    transition: all 0.3s ease-in-out;
}
.suggest-li{
    cursor: pointer;
    padding: 3px;
    transition: all 0.3s ease-in-out;
    width: 100%;

}